examples/*
.ipynb_checkpoints/*
MovieSummaries/*
.DS_Store
env/*
__pycache__*
scratch_files/*
pocket_scratch.ipynb
pocket.db
articles.csv
data/pg_pocket.sql
*auth.json
errors.csv
*icloud
*.db-shm
*.db-wal
*checkpoint.py
*checkpoint*
